
//--------
// DESKTOP 
// -------

.container {
    max-width: 1200px;
}

#globalNav {
    display: none;
}

// GLOBAL NAV :)  
@media screen and (min-width: 800px){
#globalNav { 
    @include gridOneCol; 
    padding: 1em 0; 
    .logo { 
        display: flex;
        justify-self: center;
        img {max-width: 50px; height: 50px; padding-top: 0;}
        h1 {
            margin-left: 0.5em;
            text-transform: uppercase;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 0.5px;
            color: general(secondary);
        }
    }

    ul { 
        margin: 1.5em 0;
        display: flex;
        justify-content: center;
        width: 6/100%;
        li { 
           margin: 0 2rem;
           a{ font-size: 17px;
            padding-bottom: 10px;
            transition: all .2s linear;
            &:hover, &:focus, &:active {
                border-bottom: 2px solid general(greyLight);
            }
        }
    }
    }

} // end global nav

}

